<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #wrapper{
            margin : 50px auto;
            width: 980px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .field{
            width: 300px;
            margin : 15px;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <form action="/login" method="post">
            <div class="field">
                <label for="">Email</label>
                <input type="text" name="email">
            </div>
            <div class="field">
                <label for="">Password</label>
                <input type="text" name="password">
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>